
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Technology be with Learning</div>
                <div class="intro-heading">テクノロジーは、<br/>学びとともにある</div>
                <a href="https://forms.gle/abMkF3TTVMTaEStMA" class="page-scroll btn btn-xl">介護自動記録FonLogを<br/>無料で借りる</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

