<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">サービス</h2>
                    <h3 class="section-subheading text-muted">私たちは、国立大学法人 九州工業大学の技術を社会に役立てる大学発スタートアップです。
                        スマートフォンAI行動認識とAIビッグデータ分析を生かしたサービスを展開します。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">介護自動記録アプリFonLog</h4>
                    <p class="text-muted">スマートフォンなどのIoTセンサと、AIの主要技術である機械学習を用いた、最先端のAI行動認識技術を提供します。
これまでに大きな時間を割いていた介護業務記録時間を大幅に自動化することができ、業務の大幅な効率化を可能にします。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">介護ITインストラクター養成</h4>
                    <p class="text-muted">AIやIoTなどの先端技術は、技術や製品ができあがっても、それだけでは使いこなすことはできません。
                        私たちは、介護業界に携わる方々にも、もっとITを使いこなしていただき、その恩恵に預かっていただくことが重要だと信じます。
                        テクノロジーは、学びとともにあるべきです。
                        そのために、介護ITインストラクター資格取得者の養成に取り組みます。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DXコンサルティング</h4>
                    <p class="text-muted">
                        デジタル、つまりITやAI技術で業務全体を変革していく、DX=デジタルトランスフォーメーションは、これからの成長のための重要なキーワードです。
                        しかし、DXには、大企業や先端IT企業を中心に取り組まれ、中小企業ではまだまだたち遅れていることも事実です。
                        私たちは、データサイエンスを中心としたこれまでのDXコンサルティング経験を元に、幅広い企業にDXの経験を広めます。
                    </p>
                </div>
            </div>
        </div>
    </section>
