<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include nav.html %}
    {% include header.html %}
    {% include news.html %}
    {% include services.html %}
    <!-- include about.html -->
    {% include team.html %}
    <!-- include clients.html -->
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

      
      <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
  intent="WELCOME"
  chat-title="Autocare"
  agent-id="b8db9863-4da6-4e31-91ff-c252e6e09387"
  language-code="ja"
></df-messenger>

    </body>
  
</html>
