<!DOCTYPE html>
<html>

  {% include head.html %}


  <body id="page-top" class="index">
    {% include nav.html %}
    <div class="col-lg-8 col-lg-offset-2">
    <div class="modal-body">
      <h2>{{ page.title }}</h2>
        <hr class="star-primary">
        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
        <p>{{ page.description }}</p>
        <ul class="list-inline item-details">
            <!--<li>Client:
              <strong><a href="http://startbootstrap.com">{{ page.client }}</a>
              </strong>
             </li>-->
             <li>Date:
                <strong><a href="http://startbootstrap.com">{{ page.date | date_to_string }}</a>
                </strong>
             </li>
             <!--<li>Service:
               <strong><a href="http://startbootstrap.com">{{ page.category }}</a>
               </strong>
             </li>-->
         </ul>
         <a href="/">
           <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Close</button>
         </a>
    </div>
  </body>
</html>
